USE [master]
GO
/****** Object:  Database [QL_TracNghiem]    Script Date: 8/11/2020 5:55:18 PM ******/
CREATE DATABASE [QL_TracNghiem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_TracNghiem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QL_TracNghiem.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_TracNghiem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QL_TracNghiem_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_TracNghiem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_TracNghiem]
GO
/****** Object:  StoredProcedure [dbo].[BaiThi_HienThi]    Script Date: 8/11/2020 5:55:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[BaiThi_HienThi]
 @MaThiSinh nchar(10)
,@MaMon nchar(4)
,@NgayThi nchar(12)
AS
SELECT [MaThiSinh]
      ,[MaMon]
      ,[NgayThi]
      ,[MaCauHoi]
      ,(select NoiDungCauHoi from Table_CauHoi where MaCauHoi=BT.MaCauHoi) NoiDung
      ,(select NoiDungCauTraLoi from Table_DapAn 
		                    where MaCauHoi=BT.MaCauHoi
		                    and MaCauTraLoi like 'A%') DAA
	 ,(select NoiDungCauTraLoi from Table_DapAn 
		                    where MaCauHoi=BT.MaCauHoi
		                    and MaCauTraLoi like 'B%') DAB
		                    
	 ,(select NoiDungCauTraLoi from Table_DapAn 
		                    where MaCauHoi=BT.MaCauHoi
		                    and MaCauTraLoi like 'C%') DAC
	 ,(select NoiDungCauTraLoi from Table_DapAn 
		                    where MaCauHoi=BT.MaCauHoi
		                    and MaCauTraLoi like 'D%') DAD                
      ,[LuaChon]
      ,DapAn
      
  FROM [Table_BaiThi] BT
  where [MaThiSinh]=@MaThiSinh
      and [MaMon]=@MaMon
      and datediff(day, convert(smalldatetime,[NgayThi],103),convert(smalldatetime,@NgayThi,103))=0

GO
/****** Object:  StoredProcedure [dbo].[CauHoi_LayDeThi]    Script Date: 8/11/2020 5:55:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[CauHoi_LayDeThi]
@MaMon Nchar(4)
AS

---Lay 5 cau loai A--
SELECT top(5) [MaCauHoi]
      ,[NoiDungCauHoi]
      ,[MaLoaiCauHoi]
      ,[MaNguoiDung]
      ,[MaMon]
     ,[GhiChu],newid()
  FROM [Table_CauHoi]
  where MaCauHoi in(select top(5) MaCauHoi
					  from Table_CauHoi
					  where MaLoaiCauHoi='A'
					  and MaMon=@MaMon
					  order by newID())
  Union --Gop cac cau truy van voi nhau


  --Lay 9 cau loai B---
  SELECT top(9) [MaCauHoi]
      ,[NoiDungCauHoi]
      ,[MaLoaiCauHoi]
      ,[MaNguoiDung]
      ,[MaMon]
     ,[GhiChu],newid()
  FROM [Table_CauHoi]
  where MaCauHoi in(select top(9) MaCauHoi 
					  from Table_CauHoi
					  where MaLoaiCauHoi='B'
					  and MaMon=@MaMon
					  order by NEWID())
  Union --Gop cac cau truy van voi nhau


--Lay 6 cau loai C1---
  SELECT top(6) [MaCauHoi]
      ,[NoiDungCauHoi]
      ,[MaLoaiCauHoi]
      ,[MaNguoiDung]
      ,[MaMon]
     ,[GhiChu],newid()
  FROM [Table_CauHoi]
  where MaCauHoi in(select top(6) MaCauHoi 
					  from Table_CauHoi
					  where MaLoaiCauHoi='C1'
					  and MaMon=@MaMon
					  order by NEWID())
   Union --Gop cac cau truy van voi nhau


--Lay 7 cau loai C2---
  SELECT top(7) [MaCauHoi]
      ,[NoiDungCauHoi]
      ,[MaLoaiCauHoi]
      ,[MaNguoiDung]
      ,[MaMon]
     ,[GhiChu],newid()
  FROM [Table_CauHoi]
 where MaCauHoi in(select top(7) MaCauHoi 
					  from Table_CauHoi
					  where MaLoaiCauHoi='C2'
					  and MaMon=@MaMon
					  order by NEWID())
   Union --Gop cac cau truy van voi nhau


 --Lay 3 cau loai D---
  SELECT top(3) [MaCauHoi]
      ,[NoiDungCauHoi]
      ,[MaLoaiCauHoi]
      ,[MaNguoiDung]
      ,[MaMon]
     ,[GhiChu],newid()
  FROM [Table_CauHoi]
 where MaCauHoi in(select top(3) MaCauHoi 
					  from Table_CauHoi
					  where MaLoaiCauHoi='D'
					  and MaMon=@MaMon
					  order by NEWID())
  Union --Gop cac cau truy van voi nhau


--Lay 5 cau loai E1---
  SELECT top(5) [MaCauHoi]
      ,[NoiDungCauHoi]
      ,[MaLoaiCauHoi]
      ,[MaNguoiDung]
      ,[MaMon]
     ,[GhiChu],newid()
  FROM [Table_CauHoi]
 where MaCauHoi in(select top(5) MaCauHoi 
					  from Table_CauHoi
					  where MaLoaiCauHoi='E1'
					  and MaMon=@MaMon
					  order by NEWID())
   Union --Gop cac cau truy van voi nhau


  --Lay 5 cau loai E2---
  SELECT top(5) [MaCauHoi]
      ,[NoiDungCauHoi]
      ,[MaLoaiCauHoi]
      ,[MaNguoiDung]
      ,[MaMon]
     ,[GhiChu],newid()
  FROM [Table_CauHoi]
  where MaCauHoi in(select top(5) MaCauHoi 
					  from Table_CauHoi
					  where MaLoaiCauHoi='E2'
					  and MaMon=@MaMon
					  order by NEWID())
  Union --Gop cac cau truy van voi nhau


--Lay 5 cau loai F1---
  SELECT top(5) [MaCauHoi]
      ,[NoiDungCauHoi]
      ,[MaLoaiCauHoi]
      ,[MaNguoiDung]
      ,[MaMon]
     ,[GhiChu],newid()
  FROM [Table_CauHoi]
  where MaCauHoi in(select top(5) MaCauHoi 
					  from Table_CauHoi
					  where MaLoaiCauHoi='F1'
					  and MaMon=@MaMon
					  order by NEWID())
 Union --Gop cac cau truy van voi nhau


  --Lay 5 cau loai F2---
  SELECT top(5) [MaCauHoi]
      ,[NoiDungCauHoi]
      ,[MaLoaiCauHoi]
      ,[MaNguoiDung]
      ,[MaMon]
     ,[GhiChu],newid() --trường dữ liệu thêm vào để sắp xếp ngẫu nhiên, Nếu ko có thì ko thể sắp xếp ngẫu nhiên được
  FROM [Table_CauHoi]
  where MaCauHoi in(select top(5) MaCauHoi 
					  from Table_CauHoi
					  where MaLoaiCauHoi='F2'
					  and MaMon=@MaMon
					  order by NEWID()) --- ngẫu nhiên cho từng phần ( Phần Câu hỏi của F2)

order by NEWID() -- ngau nhien cho ca bai thi

--[CauHoi_LayDeThi] 'cs1'

GO
/****** Object:  StoredProcedure [dbo].[DapAn_CapNhatDapAn]    Script Date: 8/11/2020 5:55:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DapAn_CapNhatDapAn]
@MaCauHoi nchar(4),
@MaCauTraLoi nchar(4)
AS
Begin
 update Table_DapAn 
 set KieuDapAn='0'
 where MaCauHoi=@MaCauHoi

 update Table_DapAn
 set KieuDapAn='1'
 where MaCauTraLoi=@MaCauTraLoi
End

GO
/****** Object:  StoredProcedure [dbo].[KetQua_Insert]    Script Date: 8/11/2020 5:55:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[KetQua_Insert]
    @MaThiSinh nchar(10)
   ,@MaMon nchar(4)
   ,@Diem float
   ,@NgayThi nchar(12)
   AS
   Begin
   if(not exists(select MaThiSinh from Table_KetQua 
					where MaThiSinh=@MaThiSinh and MaMon=@MaMon))
	 INSERT INTO Table_KetQua
           (MaThiSinh
           ,MaMon
           ,Diem
           ,NgayThi)
     VALUES
           (@MaThiSinh
           ,@MaMon
           ,@Diem
           ,@NgayThi)
   Else
   begin
	  --So sanh diem lan truoc voi diem hien tai: Lay diem lon hon
	  declare @DiemTruoc float
	  set @DiemTruoc=(select Diem from Table_KetQua
					  where MaThiSinh=@MaThiSinh and MaMon=@MaMon)
	  if(@Diem>@DiemTruoc) --Diem thi moi > diem thi cu thi update
	   update Table_KetQua
		 set Diem=@Diem
	   where MaThiSinh=@MaThiSinh and MaMon=@MaMon
	  --truong hop: Điểm hiện tại < điểm thi trước thì giữ nguyên
   End
   End

GO
/****** Object:  StoredProcedure [dbo].[Table_BaiThi_Insert]    Script Date: 8/11/2020 5:55:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Table_BaiThi_Insert]
@MaThiSinh nchar(10)
,@MaMon nchar(4)
,@NgayThi nchar(12)
,@MaCauHoi nchar(4)
,@LuaChon varchar(20)
,@DapAn varchar(20)
AS
INSERT INTO [Table_BaiThi]
           ([MaThiSinh]
           ,[MaMon]
           ,[NgayThi]
           ,[MaCauHoi]
           ,[LuaChon]
           ,DapAn)
     VALUES
           (@MaThiSinh
           ,@MaMon
           ,@NgayThi
           ,@MaCauHoi
           ,@LuaChon
           ,@DapAn)

GO
/****** Object:  Table [dbo].[Table_BaiThi]    Script Date: 8/11/2020 5:55:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Table_BaiThi](
	[MaThiSinh] [nchar](10) NOT NULL,
	[MaMon] [nchar](4) NOT NULL,
	[NgayThi] [nchar](12) NOT NULL,
	[MaCauHoi] [nchar](4) NOT NULL,
	[LuaChon] [varchar](20) NULL,
	[DapAn] [varchar](20) NULL,
 CONSTRAINT [PK_Table_BaiThi] PRIMARY KEY CLUSTERED 
(
	[MaThiSinh] ASC,
	[MaMon] ASC,
	[NgayThi] ASC,
	[MaCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Table_CauHoi]    Script Date: 8/11/2020 5:55:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_CauHoi](
	[MaCauHoi] [nchar](4) NOT NULL,
	[NoiDungCauHoi] [nvarchar](max) NOT NULL,
	[MaLoaiCauHoi] [nchar](10) NOT NULL,
	[MaNguoiDung] [nchar](4) NOT NULL,
	[MaMon] [nchar](4) NOT NULL,
	[GhiChu] [nchar](30) NULL,
 CONSTRAINT [PK_Table_CauHoi] PRIMARY KEY CLUSTERED 
(
	[MaCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_DapAn]    Script Date: 8/11/2020 5:55:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_DapAn](
	[MaCauTraLoi] [nchar](4) NOT NULL,
	[NoiDungCauTraLoi] [nvarchar](max) NOT NULL,
	[MaCauHoi] [nchar](4) NOT NULL,
	[KieuDapAn] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Table_DapAn] PRIMARY KEY CLUSTERED 
(
	[MaCauTraLoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_GiaoVien]    Script Date: 8/11/2020 5:55:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Table_GiaoVien](
	[MaGiaoVien] [nchar](4) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[SoDienThoai] [varchar](50) NOT NULL,
	[NgaySinh] [varchar](20) NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Table_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaGiaoVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Table_KetQua]    Script Date: 8/11/2020 5:55:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_KetQua](
	[MaThiSinh] [nchar](10) NOT NULL,
	[MaMon] [nchar](4) NOT NULL,
	[Diem] [float] NOT NULL,
	[NgayThi] [nchar](12) NOT NULL,
 CONSTRAINT [PK_Table_KetQua] PRIMARY KEY CLUSTERED 
(
	[MaThiSinh] ASC,
	[MaMon] ASC,
	[NgayThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_LoaiCauHoi]    Script Date: 8/11/2020 5:55:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_LoaiCauHoi](
	[MaLoaiCauHoi] [nchar](10) NOT NULL,
	[LoaiCauHoi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Table_LoaiCauHoi] PRIMARY KEY CLUSTERED 
(
	[MaLoaiCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_MonThi]    Script Date: 8/11/2020 5:55:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_MonThi](
	[MaMon] [nchar](4) NOT NULL,
	[TenMon] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Table_MonThi] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_Nganh]    Script Date: 8/11/2020 5:55:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Nganh](
	[MaNganh] [nchar](10) NOT NULL,
	[TenNganh] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Nganh_1] PRIMARY KEY CLUSTERED 
(
	[MaNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_NguoiDung]    Script Date: 8/11/2020 5:55:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_NguoiDung](
	[MaNguoiDung] [nchar](4) NOT NULL,
	[TenNguoiDung] [nvarchar](50) NOT NULL,
	[MatKhauNguoiDung] [nchar](20) NOT NULL,
	[LoaiNguoiDung] [nchar](6) NOT NULL,
	[MaGiaoVien] [nchar](4) NOT NULL,
 CONSTRAINT [PK_Table_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_ThiSinh]    Script Date: 8/11/2020 5:55:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_ThiSinh](
	[MaThiSinh] [nchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[NgaySinh] [nchar](20) NOT NULL,
	[TenDangNhap] [nchar](20) NOT NULL,
	[MatKhau] [nchar](10) NOT NULL,
	[Truong] [nvarchar](50) NOT NULL,
	[Lop] [nvarchar](50) NOT NULL,
	[MaNganh] [nchar](10) NULL,
 CONSTRAINT [PK_Table_ThiSinh_1] PRIMARY KEY CLUSTERED 
(
	[MaThiSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Table_BaiThi] ([MaThiSinh], [MaMon], [NgayThi], [MaCauHoi], [LuaChon], [DapAn]) VALUES (N'000001    ', N'CN1 ', N'10/8/2020   ', N'0304', N'0', N'3')
INSERT [dbo].[Table_BaiThi] ([MaThiSinh], [MaMon], [NgayThi], [MaCauHoi], [LuaChon], [DapAn]) VALUES (N'000001    ', N'CN1 ', N'10/8/2020   ', N'0305', N'0', N'2')
INSERT [dbo].[Table_BaiThi] ([MaThiSinh], [MaMon], [NgayThi], [MaCauHoi], [LuaChon], [DapAn]) VALUES (N'000001    ', N'CN1 ', N'10/8/2020   ', N'0306', N'0', N'3')
GO
INSERT [dbo].[Table_CauHoi] ([MaCauHoi], [NoiDungCauHoi], [MaLoaiCauHoi], [MaNguoiDung], [MaMon], [GhiChu]) VALUES (N'0101', N'Who are all ________ people?', N'A         ', N'ND06', N'CS1 ', NULL)
INSERT [dbo].[Table_CauHoi] ([MaCauHoi], [NoiDungCauHoi], [MaLoaiCauHoi], [MaNguoiDung], [MaMon], [GhiChu]) VALUES (N'0102', N'I don’t know ________ people    ', N'A         ', N'ND08', N'CS1 ', NULL)
INSERT [dbo].[Table_CauHoi] ([MaCauHoi], [NoiDungCauHoi], [MaLoaiCauHoi], [MaNguoiDung], [MaMon], [GhiChu]) VALUES (N'0103', N' We live near ________ the river.', N'A         ', N'ND09', N'CS1 ', NULL)
GO
INSERT [dbo].[Table_DapAn] ([MaCauTraLoi], [NoiDungCauTraLoi], [MaCauHoi], [KieuDapAn]) VALUES (N'A101', N' this', N'0101', N'0         ')
INSERT [dbo].[Table_DapAn] ([MaCauTraLoi], [NoiDungCauTraLoi], [MaCauHoi], [KieuDapAn]) VALUES (N'A102', N' many', N'0102', N'1         ')
INSERT [dbo].[Table_DapAn] ([MaCauTraLoi], [NoiDungCauTraLoi], [MaCauHoi], [KieuDapAn]) VALUES (N'A103', N' of', N'0103', N'0         ')
GO
INSERT [dbo].[Table_GiaoVien] ([MaGiaoVien], [HoTen], [DiaChi], [SoDienThoai], [NgaySinh], [ChucVu]) VALUES (N'GV01', N'Nguyễn Thị Thu Hoai                               ', N'Tp.HCM                                            ', N'0987123123          ', N'02/02/1988', N'Quản lý             ')
INSERT [dbo].[Table_GiaoVien] ([MaGiaoVien], [HoTen], [DiaChi], [SoDienThoai], [NgaySinh], [ChucVu]) VALUES (N'GV02', N'Trần Hoàng                         ', N'Tp.HCM                                       ', N'123456789', N'01/08/1985', N'Quản lý')
INSERT [dbo].[Table_GiaoVien] ([MaGiaoVien], [HoTen], [DiaChi], [SoDienThoai], [NgaySinh], [ChucVu]) VALUES (N'GV03', N'Nguyễn Phước Thịnh                                ', N'Tp.HCM                                       ', N'0986567789          ', N'09/06/1989', N'Quản lý             ')
INSERT [dbo].[Table_KetQua] ([MaThiSinh], [MaMon], [Diem], [NgayThi]) VALUES (N'000001    ', N'CN1 ', 0.4, N'8/8/2020    ')
INSERT [dbo].[Table_KetQua] ([MaThiSinh], [MaMon], [Diem], [NgayThi]) VALUES (N'000005    ', N'CS1 ', 3.4, N'16/6/2014   ')
INSERT [dbo].[Table_KetQua] ([MaThiSinh], [MaMon], [Diem], [NgayThi]) VALUES (N'0001      ', N'CS1 ', 3, N'16/6/2014   ')
INSERT [dbo].[Table_LoaiCauHoi] ([MaLoaiCauHoi], [LoaiCauHoi]) VALUES (N'A         ', N'Ngữ âm')
INSERT [dbo].[Table_LoaiCauHoi] ([MaLoaiCauHoi], [LoaiCauHoi]) VALUES (N'B         ', N'Ngữ pháp')
INSERT [dbo].[Table_LoaiCauHoi] ([MaLoaiCauHoi], [LoaiCauHoi]) VALUES (N'C1        ', N'Từ Vựng 1')
INSERT [dbo].[Table_MonThi] ([MaMon], [TenMon]) VALUES (N'CN1 ', N'Tiếng Anh Chuyên Ngành 1')
INSERT [dbo].[Table_MonThi] ([MaMon], [TenMon]) VALUES (N'CN2 ', N'Tiếng Anh Chuyên Ngành 2')
INSERT [dbo].[Table_MonThi] ([MaMon], [TenMon]) VALUES (N'CS1 ', N'Tiếng Anh Cơ Sở 1')
INSERT [dbo].[Table_Nganh] ([MaNganh], [TenNganh]) VALUES (N'CNDT      ', N'Công Nghệ Điện Tử')
INSERT [dbo].[Table_Nganh] ([MaNganh], [TenNganh]) VALUES (N'CNPM      ', N'Công Nghệ Phần Mềm')
INSERT [dbo].[Table_Nganh] ([MaNganh], [TenNganh]) VALUES (N'CNVT      ', N'Công Nghệ Viễn Thông')
INSERT [dbo].[Table_NguoiDung] ([MaNguoiDung], [TenNguoiDung], [MatKhauNguoiDung], [LoaiNguoiDung], [MaGiaoVien]) VALUES (N'ND01', N'Thuthu', N'67896789            ', N'1     ', N'QLC1')
INSERT [dbo].[Table_NguoiDung] ([MaNguoiDung], [TenNguoiDung], [MatKhauNguoiDung], [LoaiNguoiDung], [MaGiaoVien]) VALUES (N'ND02', N'Nam Beo', N'57699555            ', N'2     ', N'GV04')
INSERT [dbo].[Table_NguoiDung] ([MaNguoiDung], [TenNguoiDung], [MatKhauNguoiDung], [LoaiNguoiDung], [MaGiaoVien]) VALUES (N'ND03', N'Hoang Hai', N'5678945679          ', N'2     ', N'GV05')
INSERT [dbo].[Table_ThiSinh] ([MaThiSinh], [HoTen], [DiaChi], [NgaySinh], [TenDangNhap], [MatKhau], [Truong], [Lop], [MaNganh]) VALUES (N'000001    ', N'Nguyễn Thị Mai Hoa', N'Tp.HCM', N'01/01/1990          ', N'Hoa                 ', N'123       ', N'Đại học công nghiệp thực phẩm Tp HCM', N'CNPMK8A', N'CNPM      ')
INSERT [dbo].[Table_ThiSinh] ([MaThiSinh], [HoTen], [DiaChi], [NgaySinh], [TenDangNhap], [MatKhau], [Truong], [Lop], [MaNganh]) VALUES (N'000002    ', N'Đặng Thanh Thanh', N'Tp.HCM', N'02/01/1991          ', N'Thanh               ', N'123       ', N'Đại học công nghiệp thực phẩm Tp HCM', N'MMT_K8B', N'MMT       ')
INSERT [dbo].[Table_ThiSinh] ([MaThiSinh], [HoTen], [DiaChi], [NgaySinh], [TenDangNhap], [MatKhau], [Truong], [Lop], [MaNganh]) VALUES (N'000003    ', N'Bùi Thị Dịu', N'Tp.HCM', N'07/08/1990          ', N'Diu                 ', N'123       ', N'Đại học công nghiệp thực phẩm Tp HCM', N'CNPM_K8A', N'CNPM      ')
ALTER TABLE [dbo].[Table_CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_Table_CauHoi_Table_LoaiCauHoi] FOREIGN KEY([MaLoaiCauHoi])
REFERENCES [dbo].[Table_LoaiCauHoi] ([MaLoaiCauHoi])
GO
ALTER TABLE [dbo].[Table_CauHoi] CHECK CONSTRAINT [FK_Table_CauHoi_Table_LoaiCauHoi]
GO
ALTER TABLE [dbo].[Table_CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_Table_CauHoi_Table_MonThi] FOREIGN KEY([MaMon])
REFERENCES [dbo].[Table_MonThi] ([MaMon])
GO
ALTER TABLE [dbo].[Table_CauHoi] CHECK CONSTRAINT [FK_Table_CauHoi_Table_MonThi]
GO
ALTER TABLE [dbo].[Table_CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_Table_CauHoi_Table_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[Table_NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[Table_CauHoi] CHECK CONSTRAINT [FK_Table_CauHoi_Table_NguoiDung]
GO
ALTER TABLE [dbo].[Table_DapAn]  WITH CHECK ADD  CONSTRAINT [FK_Table_DapAn_Table_CauHoi] FOREIGN KEY([MaCauHoi])
REFERENCES [dbo].[Table_CauHoi] ([MaCauHoi])
GO
ALTER TABLE [dbo].[Table_DapAn] CHECK CONSTRAINT [FK_Table_DapAn_Table_CauHoi]
GO
ALTER TABLE [dbo].[Table_KetQua]  WITH CHECK ADD  CONSTRAINT [FK_Table_KetQua_Table_MonThi] FOREIGN KEY([MaMon])
REFERENCES [dbo].[Table_MonThi] ([MaMon])
GO
ALTER TABLE [dbo].[Table_KetQua] CHECK CONSTRAINT [FK_Table_KetQua_Table_MonThi]
GO
ALTER TABLE [dbo].[Table_NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_Table_NguoiDung_Table_NhanVien] FOREIGN KEY([MaGiaoVien])
REFERENCES [dbo].[Table_GiaoVien] ([MaGiaoVien])
GO
ALTER TABLE [dbo].[Table_NguoiDung] CHECK CONSTRAINT [FK_Table_NguoiDung_Table_NhanVien]
GO
ALTER TABLE [dbo].[Table_ThiSinh]  WITH CHECK ADD  CONSTRAINT [FK_Table_ThiSinh_Nganh] FOREIGN KEY([MaNganh])
REFERENCES [dbo].[Table_Nganh] ([MaNganh])
GO
ALTER TABLE [dbo].[Table_ThiSinh] CHECK CONSTRAINT [FK_Table_ThiSinh_Nganh]
GO
USE [master]
GO
